@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.additional {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0;

  &__content {
    width: 100%;
    max-width: 493px;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 48px;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.6;
  }

  img {
    border-radius: 16px;
  }

  .btn {
    padding: 18px 32px;
  }

  @include media(tablet) {
    padding: 30px 0;

    &__content {
      margin-right: 20px;
    }

    h2 {
      font-size: clamp(20px, 2rem + 1vi, 40px);
    }
  }

  @include media(mobile-l) {
    flex-direction: column;

    &__content {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: unset;
    }

    &__image {
      width: 100%;
    }

    p,
    .container {
      max-width: unset;
    }

    p {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      aspect-ratio: 16/7;
    }
  }
}