@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  padding: 56px 0 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav__item {
    &:not(:last-child) {
      margin-right: 24px;

      @include media(tablet) {
        margin-right: 12px;
      }

      @include media(mobile-l) {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
  }

  .logo {
    max-width: 242px;
  }

  .btn {
    padding: 10px 15px;

    &--simple {
      margin-right: 8px;
      padding: 10px 16px;
      min-width: unset;

      @include media(tablet) {
        margin-right: 8px;
      }

      @include media(mobile-l) {
        margin: 0 auto 15px;
      }
    }

    @include media(mobile-l) {
      margin: 0 auto;
    }
  }

  &__link {
    font-size: 16px;
  }

  &__copyrigth {
    padding: 22px 0;
    background-color: var(--color-orange-300);

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .copyrigth {
      &__list {
        display: flex;
      }

      &__item {
        a {
          font-weight: var(--fw-400);
        }

        &:not(:last-child) {
          margin-right: 50px;
        }
      }

      &__link {
        color: var(--color-white);
      }

      p {
        letter-spacing: 0.2px;
      }
    }
  }

  p {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--color-white);
  }

  @include media(tablet) {
    &__inner {
      flex-wrap: wrap;
    }

    .nav__list {
      margin-right: 20px;
    }

    .logo {
      margin-right: 20px;
    }
  }

  @include media(mobile-l) {
    padding: 30px 0 0;

    &__inner {
      flex-direction: column;
      margin: 0 auto;
    }

    .nav__list {
      margin-right: auto;
    }

    .logo {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__nav {
      z-index: 1;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .btn {
      margin-bottom: 12px;
    }

    &__copyrigth {
      .container {
        flex-direction: column-reverse;
      }

      .copyrigth {
        &__list {
          flex-direction: column;
          margin-bottom: 12px;
        }

        &__item {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  @include media(mobile-m) {
    .logo {
      margin-bottom: 32px;
    }

    &__links {
      a {
        font-size: 16px;
      }
    }
  }
}