@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.services {
  padding: 88px 0 84px;
  background-color: var(--color-orange-50);

  h2 {
    margin: 0 auto;
    margin-bottom: 48px;
  }

  h3 {
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }

  p {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.6;
  }

  .btn {
    margin: 0 auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 48px;
    gap: 24px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: var(--radius-main);
    height: 100%;
    box-shadow: var(--shadow-primary);
    background-color: var(--color-white);

    .btn {
      margin: 0;
      padding: 10px 7px;
      min-width: unset;
    }
  }

  &__content {
    padding: 24px;
  }

  @include media(tablet) {
    padding: rem(60) 0;

    &__content {
      display: flex;
      flex-direction: column;
      padding: 12px;
      height: 100%;

      .btn {
        margin-top: auto;
      }
    }
  }

  @include media(mobile-l) {
    &__grid {
      grid-template-columns: 1fr;
      margin-bottom: 20px;
    }

    &__item {
      &:last-child {
        grid-column: auto;
      }
    }

    img {
      width: 100%;
      aspect-ratio: 16/7;
    }

    .container {
      flex-direction: column;
      align-items: center;
    }
  }
}