/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Inter", sans-serif;

  // font-weight
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-black: #161620;
  --color-dark: #292e3d;
  --color-orange-50: #fff9f6;
  --color-orange-100: rgba(233, 76, 4, 0.12);
  --color-orange-150:#fef1eb;
  --color-orange-200:#e94c04;
  --color-orange-300:#902e01;

  //  radius
  --radius-main: 8px;

  // shadow
  --shadow-primary: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
}