@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.service {
  $root: &;

  padding: 171px 0 131px;

  &--projects {
    padding: 171px 0 133px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 23px;

    &:not(:last-child) {
      margin-bottom: 134px;
    }

    &:nth-child(even) {
      #{$root}__image {
        grid-column: 1 / 2;
      }

      #{$root}__content {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }

  &__content {
    max-width: 500px;

    &--reverse {
      padding-left: 104px;
      max-width: fit-content;
    }
  }

  &__image {
    overflow: hidden;

    img {
      border-radius: 32px;
    }
  }

  h3 {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.26;
  }

  @include media(tablet) {
    padding: 60px 0 0;

    h2 {
      margin: 0 auto 40px;
    }

    &__content {
      margin: 0 auto;

      &--reverse {
        margin: 0 auto;
        padding-left: 0;
      }
  
      &--last {
        margin: 0 auto;; 
      }
    }

    &__grid {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  @include media(mobile-l) {
    padding: 30px 0;

    &__grid {
      grid-template-columns: 1fr;
      column-gap: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:nth-child(even) {
        #{$root}__image {
          grid-column: auto;
        }

        #{$root}__content {
          grid-column: auto;
          grid-area: auto;
        }
      }
    }

    &__content {
      max-width: unset;
      padding: 20px;
    }

    h3 {
      font-size: 36px;
    }

    img {
      aspect-ratio: 16/7;
      width: 100%;
    }
  }
}